<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    
   
    <section>
      <div class="row heading heading-icon text-center">
        <h1>Our Team</h1>
    </div>
        <div class="conta">
            
            <ul class="row">
              <li class="col-12 col-md-6 col-lg-3">
                  <div class="cnt-block equal-hight" style="height: 349px;">
                    <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt=""></figure>
                    <h3 class="color"><a href="http://www.webcoderskull.com/">Prathamesh</a></h3>
                    <p class="color">Developer </p>
                    <ul class="follow-us clearfix">
                      <li><a href="https://github.com/PrathameshatGitHub"><i class="fa fa-facebook" aria-hidden="false">GitHub</i></a></li>
                      
                      <li><a href="https://www.linkedin.com/in/prathamesh-mali-27685b236/"><i class="fa fa-linkedin" aria-hidden="true">linkedin</i></a></li>
                    </ul>
                  </div>
              </li>
              <li class="col-12 col-md-6 col-lg-3">
                  <div class="cnt-block equal-hight" style="height: 349px;">
                    <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt=""></figure>
                    <h3 class="color"><a href="#">kiran </a></h3>
                    <p class="color">Developer</p>
                    <ul class="follow-us clearfix">
                      <a href=""><i class="fa fa-facebook" aria-hidden="true"> GitHubk</i></a></li>
                      
                      <li><a href="https://www.linkedin.com/in/kiran-patil-114bb0269/"><i class="fa fa-linkedin" aria-hidden="true">linkedin</i></a></li>
                    </ul>
                  </div>
              </li>
              <li class="col-12 col-md-6 col-lg-3">
                  <div class="cnt-block equal-hight" style="height: 349px;">
                    <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt=""></figure>
                    <h3 class="color "><a href="http://www.webcoderskull.com/">Pratik</a></h3>
                    <p class="color"> Developer</p>
                    <ul class="follow-us clearfix">
                      <li><a href="https://github.com/pratikkorane/Landing-page"><i class="fa fa-facebook" aria-hidden="true">GitHub</i></a></li>
                    
                      <li><a href="https://www.linkedin.com/in/pratik-korane-567669226"><i class="fa fa-linkedin" aria-hidden="true">linkedin</i></a></li>
                    </ul>
                  </div>
               </li>
              <li class="col-12 col-md-6 col-lg-3">
                  <div class="cnt-block equal-hight" style="height: 349px;">
                    <figure><img src="http://www.webcoderskull.com/img/team2.png" class="img-responsive" alt=""></figure>
                    <h3 class="color"><a href="http://www.webcoderskull.com/">Aditya </a></h3>
                    <p class="color"> Developer</p>
                    <ul class="follow-us clearfix">
                      <li><a href="#"><i class="fa fa-facebook" aria-hidden="true">GitHub</i></a></li>
                      
                      <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true">linkedin</i></a></li>
                    </ul>
                  </div>
              </li>
            </ul>
          </div>



    </section>
   
</body>
</html>