<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:fragment="Layout(content)">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.rtl.min.css"
        integrity="sha384-T5m5WERuXcjgzF8DAb7tRkByEZQGcpraRTinjpywg37AO96WoYN9+hrhDVoM6CaT" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/style.css}">
    <title th:text="${title}">base page</title>
</head>

<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark  bg-primary">
        <div class="container-fluid"> <img  class="" style="width: 40px;"  src="" th:src="@{/image/website.png}" alt="">
          <a   class="navbar-brand text-center" href="#">Smart Weather Web</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
            <ul class="navbar-nav me-auto mb-2 mb-lg-0  text-uppercase ">
              <li class="nav-item"> 
                <a class="nav-link active" aria-current="page"th:href="@{/}"><i class="fa-solid fa-house-user fa-bounce"></i>home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"   th:href="@{/about}">About</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link "  th:href="@{/signin}">Login</a>
              
              </li>
              <li class="nav-item">
                <a class="nav-link   " th:href="@{/signup}">Sign Up</a>
              
              </li>
            </ul>
           
          </div>
        </div>
      </nav>

    <div th:replace="${content}" th:text="${title}"></div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>

  <script th:src="@{/js/script.js}"></script>
</body>
</html>
