<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::Layout(~{::section})}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HOME</title>
</head>

<body>

  <section class="banner d-flex justify-contect-center align-items-center">
    <div class="chacha" name="chacha" id="chacha">
      
      <h1 name=" smart" class="font-weight-bold text-center">Smart weather web</h1>

      <h5> our smart weather website show you the  exact  weather of the location you give on our weather page</h5> 

      <!-- <div class="mera-button"><button  class="btn btn-primary btn-lg">GET START</button></div> -->
    </div>
  </section>
</body>

</html>